.markdown-editor textarea {
	position: relative;
}

.markdown-editor .md-toolbar {
	position: absolute;
	top: 0;
	z-index: 100;
	height: 42px;
	width: auto;
	background-color: #3c3c3c;
	border: 1px solid #222;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.markdown-editor textarea, .markdown-editor .md-preview {
	padding-top: 50px;
}

.markdown-editor > .md-toolbar {
	padding: 0 5px;
}

.md-toolbar > .tool {
	display: inline-block;
	margin: 5px;
	width: 32px;
	height: 32px;
	text-align: center;
	padding: 5px 0;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

.md-toolbar > .tool:hover {
	border: 1px solid #666;
	background: #333;
	padding: 4px 0;
}

.md-toolbar > .divider {
	margin-left: 20px;
}

.btn-preview {
	margin: 3px;
	border: 1px solid #666;
	background: #333;
	color: #fff;
}

.btn-preview:focus, .btn-preview:hover {
	color: #ccc;
}

.md-fontsize {
	display: inline-block;
	height: 32px;
	padding: 5px;
}

.md-fontsize > .md-font-box > .tool {
	text-align: center;
	padding: 2px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

.md-fontsize > .md-font-box > .tool:hover {
	border: 1px solid #666;
	background: #333;
	padding: 1px;
}

.md-fontsize > .md-font-icon {
	text-align: center;
	padding: 6px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

.md-fontsize > .md-font-icon:hover {
	border: 1px solid #666;
	background: #333;
	padding: 5px;
}

.md-toolbar > .latex {
	text-align: center;
	padding: 2px 8px 3px 3px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

.md-toolbar > .latex:hover {
	border: 1px solid #666;
	background: #333;
	padding: 1px 7px 3px 2px;
}

.latex .modal-header, .latex .modal-footer {
	padding: 5px 15px;
}

.latex-group {
	margin-bottom: 10px;
}

textarea#laTex {
	margin-top: 50px;
	height: 120px;
}

#laTex-preview {
	margin-top: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	height: auto;
	min-height: 50px;
	padding: 8px;
}

.markdown-editor.md-sm .md-toolbar > .md-fontsize,
.markdown-editor.md-sm .md-toolbar > .pull-right {
	display: none;
}

.markdown-editor.md-sm .md-toolbar > .divider {
	margin-left: 10px;
}

.markdown-editor.md-sm .md-toolbar > .tool {
	margin-left: 4px;
	margin-right: 0;
}

.markdown-editor.md-xs .md-toolbar > .md-fontsize,
.markdown-editor.md-xs .md-toolbar > .pull-right,
.markdown-editor.md-xs .md-toolbar > .divider,
.markdown-editor.md-xs .md-toolbar > .tool.icon-list-ul,
.markdown-editor.md-xs .md-toolbar > .tool.icon-list-ol {
	display: none;
}

.markdown-editor.md-xs .md-toolbar > .tool {
	margin-left: 2px;
	margin-right: 0;
}

